 *{
  font-family: 'DM Sans'; 
 }
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  button{
    background-color: #fff;
  }
  .text-white {
    color: var(--white);
  }
  .text-color {
    color: var(--primary-color);
  }
  .secondary-color {
    color: var(--grey-text);
  }
  .btn {
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-color {
    background-color: var(--primary-color);
    color: var(--white);
  }
  .btn-color:hover {
    color: var(--black);
  }
  .btn-sm {
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn-outline-white {
    border: 2px solid var(--white);
    color: var(--white);
  }
  .btn-outline-white:hover {
    border: 2px solid var(--primary-color);
    color: var(--white);
    background-color: var(--primary-color);
  }
  .btn-outline-color {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
  }
  .btn-outline-color:hover {
    border: 2px solid var(--primary-color);
    color: var(--white);
    background-color: var(--primary-color);
  }
  .overflow-auto {
    overflow: auto;
  }
  .mb-5 {
    margin-bottom: 50px;
  }
  .mb-2 {
    margin-bottom: 20px;
  }
  .mb-10 {
    margin-bottom: 100px;
  }
  .my-5 {
    margin: 50px 0;
  }
  .mx-5 {
    margin: 0 50px;
  }
  .py-5 {
    padding: 50px 0;
  }
  .px-5 {
    padding: 0 50px;
  }
  .my-2 {
    margin: 20px 0;
  }
  .mx-2 {
    margin: 0 20px;
  }
  .py-2 {
    padding: 20px 0;
  }
  .px-2 {
    padding: 0 20px;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-left {
    text-align: left;
  }
  .m-auto {
    margin: auto;
  }
  .w-100 {
    width: 100%;
  }
  .pb-1 {
    padding-bottom: 10px;
  } 
  .d-none{
      display: none;
  }
  .d-block{
      display: block;
  }


.text-dark{
  color: #000;
}
.text-dark.hover:hover{
  color: var(--primary-color);
}
.text-link-primary{
  color: #000;
}
.text-link-primary:hover{
  color: var(--primary-color);
}







#nav2{
  position:sticky;
  top:0;
  z-index: 10;
}
#nav2 .navbar{
  background-color:var(--white);
  color:var(--primary-color);  
 /*  padding: 2rem 4.8rem; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
#nav2 .navbar .h-60{ 
  height: 60px;
} 
#nav2 .navbar .left{  
  color: var(--black);
}
#nav2 .right{  
    width:160px; 
    justify-content: space-around;
}
#nav2 .navbar .bar-left{ 
  border-left: 1px solid var(--black); 
}
#nav2 .navbar .left .explore{
  margin-left: 20px;  
  padding-left:20px;
}
#nav2 .navbar .left .navs{
  margin-left: 15px;  
}
#nav2 .navbar img{
  width: 200px;
}
#nav2 .navbar button{
  padding:5px;
  border:none; 
}
#nav2 .navbar button i{
  font-size:28px;
}
#nav2 .navbar .d-flex{
  display: flex;
  align-items: center;
} 
#nav2 .navbar .justify-center{
  justify-content: center;
} 
#nav2  .fa-search{
  color: var(--black);
} 
.d-mobile{
  display: none;
}
#nav2 .mobileContainer{
  width:100%;
  height:100%;
}
#nav2 .circle{
  width:35px;
  height:35px;
  border-radius: 50%;
  background-color: var(--purple-text);
  color: #fff;
}

#nav2 .notify{
  position: relative;
}

#nav2 .notify .dot{
  position: absolute; 
  top:0;
  right:0;
  width:7px;
  height:7px;
  border-radius: 50%;
  background-color: red; 
}

#nav2 .fullname{ 
  position: relative;
}
#nav2 #smallMenu { 
  position: absolute;
  top: 35px;
  right: 0px;
  background-color: var(--primary-color);
  border-radius: 5px;
  width:150px;
}
#nav2 #smallMenu a{
  display: block;
  color: #fff;
  padding: 10px 10px;
  width: 100%;
}
#nav2 #smallMenu a:hover{ 
  color: var(--primary-color); 
  background-color: #fff;
}
#nav2 .mouseClick:hover{
  cursor: pointer;
}





/* LOGO ONLY NAV  */
#nav2LogoOnly{
  position:sticky;
  top:0;
  z-index: 10;
}
#nav2LogoOnly .navbar2{
  background-color:var(--white);
  color:var(--primary-color);  
 /*  padding: 2rem 4.8rem; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
#nav2LogoOnly .navbar2 .d-flex{ 
  display: flex;
  justify-content: center;
  align-items: center;
}  
#nav2LogoOnly .navbar2 .h-60{ 
  height: 60px;
}  
#nav2LogoOnly .navbar2 img{
  width: 80px;
}






.d-mobileRes{
  display: none;
}
.d-tabletRes{
  display: none;
}
.d-desktopRes{
  display: none;
}



@media only screen and (max-width: 640px) {  /*  Mobile Design */
    .container{
        width: 90%;
        max-width: 550px;
        margin: auto;
        position: relative;
    }
    .d-mobile{
      display: block;
    }
    .d-tablet{
      display: none;
    }
    .d-desktop{
      display: none;
    }
    #nav2 .nav-responsive{
      width:100%;

    }
    #nav2 .mobileContainer{
       justify-content:flex-end;
    }
    #mobile-menu{ 
      padding-bottom: 10px;
      background-color: #fff;
      height: 100vh;
    }
    #mobile-menu a{
      display: block;
      margin: 20px 0;
      padding: 10px;
    }
    #mobile-menu a.text{
      color:#000;
    }
    #mobile-menu a.text:hover{
      color:var(--primary-color);
    }
    #mobile-menu a.btn{
      text-align: center;
    }

    .d-mobileRes{
      display: block;
    }
}
 
@media only screen and (min-width: 640px) { /*  Tablet and  */
  .container{
    width: 85%;
    max-width: 1300px;
    margin: auto;
    position: relative;
}
  .d-mobile{
    display: none;
  }

  .d-tablet{
    display: block;
  }
  .d-desktop{
    display: none;
  }
  #mobile-menu{ 
    display: none;
  }

  #search-icon{ 
    display: none;
  }

  #nav2 .nav-responsive{
    display: flex;
    width:100%;
    justify-content:flex-end;
    align-items: center;
    gap:25px; 
  } 
  #nav2 .mobileContainer{  
    justify-content:space-between; 
  } 

  .d-tabletRes{
    display: block;
  }
}


@media only screen and (min-width: 940px) { /*  Desktop */

  .d-desktop{
    display: block;
  }
  .d-mobile{
    display: none;
  }
  .d-tablet{
    display: none;
  }
  .d-desktopRes{
    display: block;
  }

}




.main-container {
  width: 85%;
  max-width: 1300px;
  margin: auto;
}

 







 